# Binaries
/sh3llsh0ck
/bombshell
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/dist/

# Go test artifacts
*.test
*.out
coverage.html
coverage.txt

# Go module cache
vendor/


# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo
